<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luorrak.ouroboros" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".catalog.CatalogActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".miscellaneous.OpenSourceLicenseActivity"
            android:label="OpenSourceLicenseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".catalog.CatalogActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".catalog.CatalogActivity" />
        </activity>
        <activity
            android:name=".post.ThreadActivity"
            android:label="Thread">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".catalog.CatalogActivity" />
        </activity>
        <activity
            android:name=".post.DeepZoom"
            android:label="DeepZoom">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".post.ThreadActivity" />
        </activity>
        <activity
            android:name=".activities.PostCommentActivity"
            android:label="@string/title_activity_post_comment_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".post.ThreadActivity" />
        </activity>
    </application>
</manifest>
